name: Deploy to Cloud Run

on:
  push:
    branches:
      - main
      - staging

jobs:
  deploy:
    name: Build & Deploy
    runs-on: ubuntu-latest

    env:
      REGION: europe-west1
      IMAGE_NAME: kascad-api

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set environment variables
        run: |
          if [[ "${{ github.ref }}" == "refs/heads/main" ]]; then
            echo "ENV=production" >> $GITHUB_ENV
            echo "PROJECT_ID=kascad-production" >> $GITHUB_ENV
            echo "SERVICE_NAME=api" >> $GITHUB_ENV
            echo "CREDENTIALS_SECRET=GCP_CREDENTIALS_PRODUCTION" >> $GITHUB_ENV
          elif [[ "${{ github.ref }}" == "refs/heads/staging" ]]; then
            echo "ENV=staging" >> $GITHUB_ENV
            echo "PROJECT_ID=kascad-staging" >> $GITHUB_ENV
            echo "SERVICE_NAME=api-staging" >> $GITHUB_ENV
            echo "CREDENTIALS_SECRET=GCP_CREDENTIALS_STAGING" >> $GITHUB_ENV
          else
            echo "âŒ Unsupported branch: ${{ github.ref }}"
            exit 1
          fi
          echo "IMAGE_URI=${{ env.REGION }}-docker.pkg.dev/${PROJECT_ID}/kascad/${IMAGE_NAME}:${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Debug environment
        run: |
          echo "BRANCH = ${{ github.ref }}"
          echo "PROJECT_ID = $PROJECT_ID"
          echo "IMAGE_URI = $IMAGE_URI"
          echo "SERVICE_NAME = $SERVICE_NAME"

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets[env.CREDENTIALS_SECRET] }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_URI }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy $SERVICE_NAME \
            --project=$PROJECT_ID \
            --image=$IMAGE_URI \
            --region=$REGION \
            --platform=managed \
            --allow-unauthenticated
